/*
Palette:
#E8B50E
#9C7702
#1AA3E8
#E85825
#9C4121
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  color: #403101;
}

html {
  background-color: #fffaeb;
}

fieldset {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
  padding: 1em;
  border-color: #9c4121;
  border-radius: 1.5em;
  width: 18em;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
textarea {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-size: 1em;
}

input[type="text"] {
  width: 10em;
}

textarea {
  width: 100%;
  min-height: 5em;
}

dt {
  float: left;
  clear: left;
}
dd {
  float: right;
}
